<div class="videoWrapper">
  <video class="video-background" id="videoBackground" autoplay loop muted>
      <source src="" id="videoBackgroundSource" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
  </video>
</div>

<div class="image-background" id="imageBackground"></div>

<div id="photoModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" hidden="true">
            </div>
            <div class="modal-body">
              <div id="photoResultDiv" class="text-center">
                <img class='img-responsive' id="photoResult" src=""></img>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col-md-2">
                  <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x icon-background5"></i>
                    <i id="actionIcon" class="fa fa-print fa-stack-1x"></i>
                  </span>
                </div>
                <div class="col-md-10 vcenter">
                  <div class="progress largeprogress">
                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                    aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" id="printProgess" style="width:70%"></div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div id="noprint">
  <span class="fa-stack fa-5x">
    <i class="fa fa-square fa-stack-2x"></i>
    <i class="fa fa-print fa-stack-1x fa-inverse"></i>
    <i class="fa fa-ban fa-stack-2x text-danger fa-semitransparent"></i>
  </span>
</div>


<div id="nopaper">
  <span class="fa-stack fa-5x">
    <i class="fa fa-square fa-stack-2x"></i>
    <i class="fa fa-print fa-stack-1x fa-inverse"></i>
    <i class="fa fa-refresh fa-spin fa-stack-2x fa-fw fa-inverse fa-semitransparent"></i>
  </span>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>

var serverUrl = window.location.protocol + '//' + window.location.host + "/screen"
var ioscreen = io.connect(serverUrl);
var currentMessage = {};
var showPhototimer = {};
var printProgessTimer = {};

//showPhotoTest(50000);

$('#noprint').hide();
$('#nopaper').hide();

ioscreen.on('displayPhoto', function(data) {
  currentMessage = data;
  //Change logo if print or view
  $("#actionIcon").removeClass("fa-print fa-eye");
  if (!currentMessage.print || (currentMessage.print === 'false')) {
    $("#actionIcon").addClass("fa-eye");
  } else {
    $("#actionIcon").addClass("fa-print");
  }
  showPhoto('/photos/result/' + data.resultFile, 10000);
});

ioscreen.on('changeBgToVideo', function(param) {
  console.log(JSON.stringify(param, null, 2));
  setVideoBackground('medias/' + param.photoScreen.mediaFile);
});

ioscreen.on('changeBgToImage', function(param) {
    console.log(JSON.stringify(param, null, 2));
  setImgBackground('medias/' + param.photoScreen.mediaFile);
});

ioscreen.on('showNoPrint', function(param) {
  $('#noprint').show();
});

ioscreen.on('hideNoPrint', function(param) {
  $('#noprint').hide();
});

ioscreen.on('showNoPaper', function(param) {
  $('#nopaper').show();
});

ioscreen.on('hideNoPaper', function(param) {
  $('#nopaper').hide();
});

$( document ).ready(function() {
  $('#videoWrapper').hide();
  $('#videoBackground').hide();
  $('#imageBackground').hide();

  {{#if (eq param.photoScreen.mediaType "image")}}
  setImgBackground('medias/{{param.photoScreen.mediaFile}}');
  {{/if}}

  {{#if (eq param.photoScreen.mediaType "video")}}
  setVideoBackground('medias/{{param.photoScreen.mediaFile}}');
  {{/if}}
});

function setImgBackground(path) {
  $('#videoBackground').hide();
  $('#videoBackground').stop();
  $('#imageBackground').css('background-image', "url('" + path + "')");
  $('#imageBackground').show();
}

function setVideoBackground(path) {
  $('#imageBackground').hide();
  $('#videoBackground').stop();
  $('#videoBackgroundSource').attr('src', path);
  $('#videoBackground').attr('loop','loop');
  $('#videoBackground').get(0).load();
  $('#videoBackground').get(0).play();
  $('#videoWrapper').show();
  $('#videoBackground').show();
}

function showPhotoTest(displayTime) {
  $("#photoModal").modal('show');
}

function showPhoto(path, displayTime) {
  $("#photoResult").attr('src', path);
  $("#photoModal").modal('show');
  showPhototimer = setTimeout(hidePhoto, displayTime);

  var startTime = new Date().getTime();
  printProgessTimer = setInterval(function () {
    var currentTime = new Date().getTime() - startTime;
    if (currentTime <= displayTime) {
      var percent = currentTime * 100 / displayTime;
      $('#printProgess').css('width', Math.round(percent).toString() + '%')
    } else {
      clearInterval(printProgessTimer);
    }
  }, 50);
}

function hidePhoto() {
  $("#photoModal").modal('hide');
  setTimeout(function() {
    $.post( "/photoScreen/printPhoto", currentMessage)
      .done(function( data ) {
        console.log(data);
    })
  }, 2000);
}

//Twitter message
{{#if param.twitterClient.twitter_active}}

  function showTwitterMessage() {
      $.notify(
        {
          message:'<h3>Envoyez vos photos par <strong>tweeter</strong> à {{param.twitterClient.account}} {{param.twitterClient.tags}}</h3>',
          icon: 'fa fa-3x fa-twitter'
        }, {
          delay: 10000,
          animate: {
            enter: 'animated lightSpeedIn',
            exit: 'animated lightSpeedOut'
          }
        }
      );
  }

  showTwitterMessage();
  setInterval(function() {
    showTwitterMessage();
  }, 40000);
{{/if}}

</script>
