body {
    overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 150px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 150px;
    height: 100%;
    margin-left: -150px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -150px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 100px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 150px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 150px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Gallery items */

.gallery-item {
  height: 200px;
  margin-bottom: 10px;
}

.gallery-item .photoGallery {
  margin-left:auto;
  margin-right:auto;
  display:block;
  max-height: 100%;
  width: auto;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

#photoResultDivGallery {
  height: 400px;
}

#photoResultDivGallery  .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
    margin: 0 auto;
}

.cameraPreview {
  max-height: 150px;
}

.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

/* Camera menu */
ul.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

ul.horizontal-slide li[class*="col"] {
    display: inline-block;
    float: none;
}

ul.horizontal-slide li[class*="col"]:first-child {
    margin-left: 0;
}

.profile-img-container a.cameraSelected {
    opacity: 1;
    top: 0;
    z-index: 500;
}

/* added */
.profile-img-container a.cameraSelected span {
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
/* added */
.profile-img-container a {
    display: block;
    position: absolute;
    top: -100%;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: inherit;
}
/* Camera body */

#cameraBody {
  position: fixed;
  top: 10px;
  width:auto;
  left: 200px;
  right: 10px;
  bottom: 200px;
}

#cameraMessage {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  color: white;
  font-size: 3.0em;
}

#cameraResult {
  height: 100%;
}

#cameraResultTemplate {
  text-align: center;
  height: 100%;
}

#cameraResultTemplateImg {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background:darkgrey;
}

#cameraResultSelected {
  height: 100%;
}


.cameraResultSelectedImg {
  max-height: 100px;
  margin-top: 10px;
}
